.err {
    color: #fff;
    font-family: Pixel;
    margin: 0;
    margin-left: 10%;
    padding-top: 1%;
}

.add {
    color: #fff;
    font-family: Pixel;
    margin: 0;
    margin-left: 10%;
}