body {
    background-color: black;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #161616;
    position: fixed;
    height: 100%;
    border: 0px solid;
    border-radius: 12px;
    font-size: 20px;
}

li a {
    display: block;
    color: white;
    font-family: "Pixel";
    font-size: 20px;
    padding: 10px 0px 10px 15px;
    text-decoration: none;
}

li a.activ {
    background-color: #4a4a4a;
    border: 0px solid;
    border-radius: 12px;
}

.bot1 {
    position: fixed;
    width: 9.4%;
    bottom: 0;
}

.bot2 {
    position: fixed;
    width: 100%;
    bottom: 100px;
}

li a:hover {
    background-color: #404040;
    border: 0px solid;
    border-radius: 12px;
}

.dis {
    margin-top: 0;
    margin-left: 15%;
    padding: 1px 15px;
    height: 90%;
}

#img {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-left: 0%;
    padding: 0;
    transform:translate(-50%,0%)
}

.title {
    color:#d500f9;
    font-family: Pixel-Bold;
    font-size:60px;
    margin: 0;
    margin-left: 10%;
    padding-top: 1%;
}