body {
    background-color: black;
    margin: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #000;
    position: fixed;
    height: 100%;
    font-size: 20px;
}

.navbar-li-a {
    display: block;
    color: #d500f9;
    font-family: "Pixel";
    font-size: 20px;
    padding: 10px 0px 10px 15px;
    text-decoration: none;
    border: 2px solid #161616;
    border-width: 1%;
    margin-bottom: 3%;
}

.activ {
    border-color: #fff;
}

.navbar-li-a:hover {
    
    border-color: #d500f9;
}

.dis {
    margin-top: 0;
    margin-left: 15%;
    padding: 1px 15px;
    height: 90%;
}

.title {
    color:#d500f9;
    font-family: Pixel-Bold;
    font-size:60px;
    margin: 0;
    margin-left: 10%;
    padding-top: 1%;
}

.content {
    margin-top: 2%;
    margin-left: 10%;
    font-family: Pixel;
    color: #d500f9;
}

.topic {
    margin-left: 10%;
    font-family: Pixel;
    color: #d500f9;
}
