#body {
    background-color: #000000;
}

#ip-pos {
    margin: 0;
    margin-bottom: 1.5%;
    padding-top: 01%;
    margin-left: 10%;
}

#ip { 
    color:#d500f9; 
    font-family: "Pixel"; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border: 2px solid #161616;
    border-width: 1%;
}

#ip:hover, #ip:focus { 
    color:#d500f9; 
    font-family: "Pixel"; 
    font-size:25px;  
    text-decoration-color:#d500f9; 
    border-color: #d500f9;
    cursor: pointer;
}

#mc-status-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}

#mc-status {
    color:#d500f9; 
    font-family: "Pixel"; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px;  
    border: 2px solid #161616;
}
