body {
    background-color: black;
}

#youtube-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#youtube:link, #youtube:visited { 
    color:#ff0000; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #ff0000;
    border-width: 1%;
}
#youtube:hover, #youtube:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #ff0000; 
    border-color: #ffffff;
}
#youtube:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#twitter-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#twitter:link, #twitter:visited { 
    color:#1DA1F2; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #1DA1F2;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#twitter:hover, #twitter:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #1DA1F2; 
    border-color: #ffffff;
}
#twitter:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#instagram-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#instagram:link, #instagram:visited { 
    color:#DE4082; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #DE4082;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#instagram:hover, #instagram:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #DE4082; 
    border-color: #ffffff;
}
#instagram:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#discord-pos {
    margin: 0;
    padding-top: 01%;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#discord:link, #discord:visited { 
    color:#7389DC; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #7389DC;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#discord:hover, #discord:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #7389DC; 
    border-color: #ffffff;
}
#discord:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#paypal-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#paypal:link, #paypal:visited { 
    color:#7389dc; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #7389dc;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#paypal:hover, #paypal:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #7389dc; 
    border-color: #ffffff;
}
#paypal:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#twitch-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#twitch:link, #twitch:visited { 
    color:#9147ff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #9147ff;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#twitch:hover, #twitch:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #9147ff; 
    border-color: #ffffff;
}
#twitch:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#reddit-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#reddit:link, #reddit:visited { 
    color:#ff4500; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #ff4500;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#reddit:hover, #reddit:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #ff4500; 
    border-color: #ffffff;
}
#reddit:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#tiktok-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#tiktok:link, #tiktok:visited { 
    color:#00f3eb; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #00f3eb;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#tiktok:hover, #tiktok:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #00f3eb; 
    border-color: #ffffff;
}
#tiktok:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#steam-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#steam:link, #steam:visited { 
    color:#061e52; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #061e52;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#steam:hover, #steam:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #061e52; 
    border-color: #ffffff;
}
#steam:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#github-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#github:link, #github:visited { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #ffffff;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#github:hover, #github:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #ffffff; 
    border-color: #ffffff;
}
#github:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#facebook-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#facebook:link, #facebook:visited { 
    color:#4267b2; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #4267b2;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#facebook:hover, #facebook:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #4267b2; 
    border-color: #ffffff;
}
#facebook:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#tellonym-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#tellonym:link, #tellonym:visited { 
    color:#fe4485; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #fe4485;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#tellonym:hover, #tellonym:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #fe4485; 
    border-color: #ffffff;
}
#tellonym:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#email-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#email:link, #email:visited { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #ffffff;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#email:hover, #email:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #ffffff; 
    border-color: #ffffff;
}
#email:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#snapchat-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#snapchat:link, #snapchat:visited { 
    color:#fffc01; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #fffc01;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#snapchat:hover, #snapchat:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #fffc01; 
    border-color: #ffffff;
}
#snapchat:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}

#spotify-pos {
    margin: 0;
    margin-bottom: 1.5%;
    margin-left: 10%;
}
#spotify:link, #spotify:visited { 
    color:#1ed760; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: none; 
    background-color: #000000; 
    padding: 7px 45px; 
    border-radius: 12px; 
    border: 2px solid #1ed760;
    border-width: 1%;
    margin: 0;
    margin-bottom: 50%;
    position: relative;
}
#spotify:hover, #spotify:focus { 
    color:#ffffff; 
    font-family: Pixel; 
    font-size:25px; 
    text-decoration: underline; 
    text-decoration-color:#ffffff; 
    background-color: #1ed760; 
    border-color: #ffffff;
}
#spotify:active { 
    color:#000000; 
    font-family: Pixel; 
    font-size:25px; 
}