<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

ErrorDocument 400 /err/400.php
ErrorDocument 401 /err/401.php
ErrorDocument 403 /err/403.php
ErrorDocument 404 /err/404.php
ErrorDocument 405 /err/405.php
ErrorDocument 500 /err/500.php

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Ping "%D"
</IfModule>

php_value memory_limit 5G